.idea/
*.pyc
dep.sh
config/config.yaml.example
config.json
env_*.py
*.log.*
*.log
migrations/*
log/
tmp/
.DS_Store
.python-version
apidoc/
*.tar.gz
git.txt
.vscode
tunnel_log/
ws.stdio
api.stdio
/html
/html.zip
/logs
/code.check
tags
t.sh
*.swp
.idea
venv
test.py
smtpd/node_modules
.git
__pycache__
startup.sh
*.yaml
*.yml
/migrations
!/startup.sh
deployment.yaml